Tags:     
<code style="background:lightskyblue;color:black">EASY</code> 

<code style="background:sandybrown;color:black">MEDIUM</code>   

<code style="background:lightcoral;color:black">HARD</code>

<code style="background:pink;color:black">REVISIT</code>

In [1]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading https://files.pythonhosted.org/packages/ab/3d/0d38357c620df31cebb056ca1804027112e5c008f4c2c0e16d879996ad9f/ipython_sql-0.4.0-py3-none-any.whl
Requirement already satisfied: prettytable<1 in /opt/miniconda3/lib/python3.7/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: six in /opt/miniconda3/lib/python3.7/site-packages (from ipython-sql) (1.12.0)
Requirement already satisfied: ipython>=1.0 in /opt/miniconda3/lib/python3.7/site-packages (from ipython-sql) (7.12.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/miniconda3/lib/python3.7/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /opt/miniconda3/lib/python3.7/site-packages (from ipython-sql) (1.3.19)
Collecting sqlparse
  Downloading https://files.pythonhosted.org/packages/14/05/6e8eb62ca685b10e34051a80d7ea94b7137369d8c0be5c3b9d9b6e3f5dae/sqlparse-0.4.1-py3-none-any.whl (42kB)
     |████████████████████████████████| 51kB 3.7MB/s eta 0:00:011
Requirement already satisfied: appnope; sys_platform == "darwin" in /opt/miniconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: pickleshare in /opt/miniconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in /opt/miniconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.4.1)
Requirement already satisfied: setuptools>=18.5 in /opt/miniconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (41.4.0)
Requirement already satisfied: pygments in /opt/miniconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (2.5.2)
Requirement already satisfied: traitlets>=4.2 in /opt/miniconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.3.3)
Requirement already satisfied: jedi>=0.10 in /opt/miniconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.16.0)
Requirement already satisfied: backcall in /opt/miniconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: pexpect; sys_platform != "win32" in /opt/miniconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/miniconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (3.0.3)
Requirement already satisfied: parso>=0.5.2 in /opt/miniconda3/lib/python3.7/site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.6.1)
Requirement already satisfied: ptyprocess>=0.5 in /opt/miniconda3/lib/python3.7/site-packages (from pexpect; sys_platform != "win32"->ipython>=1.0->ipython-sql) (0.6.0)
Requirement already satisfied: wcwidth in /opt/miniconda3/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.1.8)
Installing collected packages: sqlparse, ipython-sql
Successfully installed ipython-sql-0.4.0 sqlparse-0.4.1

In [1]:
%load_ext sql

In [2]:
%sql sqlite://

# SQL

### 1270. All People Report to the Given Manager <code style="background:sandybrown;color:black">MEDIUM</code>  

Question:

In [3]:
# SQL schema 
%%sql
drop table if exists Employees;
create table Employees (employee_id int, employee_name varchar(30), manager_id int);
insert into Employees (employee_id, employee_name, manager_id) values ('1', 'Boss', '1');
insert into Employees (employee_id, employee_name, manager_id) values ('3', 'Alice', '3');
insert into Employees (employee_id, employee_name, manager_id) values ('2', 'Bob', '1');
insert into Employees (employee_id, employee_name, manager_id) values ('4', 'Daniel', '2');
insert into Employees (employee_id, employee_name, manager_id) values ('7', 'Luis', '4');
insert into Employees (employee_id, employee_name, manager_id) values ('8', 'John', '3');
insert into Employees (employee_id, employee_name, manager_id) values ('9', 'Angela', '8');
insert into Employees (employee_id, employee_name, manager_id) values ('77', 'Robert', '1');

 * sqlite://
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [4]:
%%sql
select * from Employees

 * sqlite://
Done.

[(1, 'Boss', 1),
 (3, 'Alice', 3),
 (2, 'Bob', 1),
 (4, 'Daniel', 2),
 (7, 'Luis', 4),
 (8, 'John', 3),
 (9, 'Angela', 8),
 (77, 'Robert', 1)]